body {
    /* background-image: url("alien.png"); */
    margin: 0;

}

.header {
    display: flex;
    background-color: #211417;
    margin: 0;
    padding: 0;
    /* padding: 2em; */
    justify-content: space-between;
    color: whitesmoke;
}

.content {
    width: 100%;
    height: 150vh;
    background-color: #454545;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* border: 3px solid green; */
    padding: 1em;
    margin-left: 1em;
    /* margin-right: 2em; */
}

.itemList {
    display: flex;
    justify-content: space-between;
    width: 400px;
    /* border: 3px solid blue; */
    align-items: center;
}

.mainhead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 3px solid black; */
    width: 700px;
    font-style: oblique;
    font-weight: 1100px;
}

.item {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: wheat;
    /* border: 3px solid black; */
    text-shadow: 3px 3px 2px black;
    margin-bottom: 1px;
}

.typed-cursor {
    display: none;
}

.btn {
    display: flex;
    /* border: 3px solid red; */
    margin-top: 1px;
    justify-content: center;
    /* padding-bottom: 2em; */
    margin-left: 2em;
}

.btnIn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

.btnIn:active, .btnIn:hover {
    background-color: #211417;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }


.RPS {
    display: flex;
    /* border: 4px solid yellow; */
    flex-direction: column;
    height: 580px;
    margin-top: 10px;
    justify-content: center;
    align-items: stretch;
    display: none;
}

.Players {
    display: flex;
    /* border: 2px solid purple; */
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    color: wheat;
    text-shadow: 3px 3px 4px black;
    font-size: 40px;
}

.endText {
    align-self: flex-end;
    font-size: 50px;
    color: black;
    margin-left: 80px;
    text-shadow: 2px 2px 3px wheat;
}

.you {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.bot {
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding-bottom: 0;
    
}

.playIn {
    /* border: 2px solid black; */
    display: flex;
}


#yscore {
    /* border: 2px solid red; */
    /* width: auto; */
    margin-top: -10px;
    margin-bottom: 0;
    align-self: center;
}

#bscore {
    /* border: 2px solid green; */
    margin-top: -10px;
    align-self: center;
    margin-bottom: 0;
}




.game {
    display: flex;
    border: 2px solid wheat;
    box-shadow: 10px 10px 5px 8px ;
    height: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    margin-right: 180px;
    background-color: #131313;
}

#rock, #paper, #scissors {
    width: 200px;
    height: 200px;
    margin: 140px;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;

}

#rock {
    background-image: url("blackStone.jpg");
}

#paper {
    background-image: url("Paper.jpg");
    background-size: 250px;
    border-color: black;
}

#scissors {
    background-image: url("blackScissors.png");
}

#rock:active, #paper:active, #scissors:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }